body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	color: gray;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
	transition: background-color 1s;
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

nav {
	display: none;
	text-transform: uppercase;
	background-color: rgba(white, 0.7);
	flex-wrap: wrap;
	justify-content: flex-end;
	a {
		text-decoration: none;
		white-space: nowrap;
		opacity: 0.5;
		border: 1px solid transparent;
		padding:  0 0.5rem;
		&:hover {
			background-color: rgba(black, 0.2);
		}
	}
}

*[title] {
	border-bottom: 1px dotted black;
	cursor: help;
	&:hover {
		color: black;
	}
}