@import url("https://fonts.googleapis.com/css?family=Oxygen|Montserrat:900");
$color1: #7d7c84;
$color2: #2d93ad;
$color3: #88ab75;
$color4: #dbd56e;
$color5: #de8f6e;

$breakpoint: 700px;

@import "collapsible";
@import "common";

@import "mobile";

@media screen and (min-width: $breakpoint) {
  nav {
    display: flex;
    text-align: right;
    position: sticky;
    margin-top: -28px;
    flex-wrap: nowrap;
    top: 0rem;
    text-transform: uppercase;
    background-color: rgba(white, 0.7);
    z-index: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    a {
      padding: 0.25rem 0.5rem;
    }
  }


  #logo {
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 200px;
    position: fixed;
    z-index: 1000;
    left: 1rem;
    top: 1rem;
  }
  nav {
    text-align: center;
    padding-left: 300px;
  }
  
  .bubble {
    display: block!important;
    position: absolute;
    opacity: 0;
    display: block;
    line-height: 1.4rem;
    top: 16rem;
    margin-left: -2rem;
    left: 50%;
    padding: 3.5rem;
    padding-bottom: 5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    transform-origin: left bottom;
    border: 1px solid rgba(black, 0.4);
    border-radius: 10px;
    background: white;
    padding: 0.5rem;
    max-width: 200px;
    top: calc(50% - 50px);
    left: calc(50% - 200px / 2);
    box-shadow: 1px 1px 3px rgba(black, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;

    $list: ((300px, 200px), (-300px, 200px));

    @for $i from 1 through 14 {
      &:nth-child(#{$i + 1}) {
        $item: nth($list, ($i % 2)+ 1);
        transform: translate(nth($item, 1), nth($item, 2));
        animation: circle 30s (($i - 1) * 6s) linear infinite;
      }
    }
  }

  article {
    position: relative;
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    margin-left: 250px;
    margin-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    max-width: 1000px;
    section {
      justify-content: center;
    }
    &:after {
      min-height: 300px;
      min-width: 300px;
    }
  }
}

body.pravidla {
  nav a[href="#pravidla"] {
    border: 1px solid black;
    opacity: 1;
  }
}

body.ladilna {
  nav a[href="#ladilna"] {
    border: 1px solid black;
    opacity: 1;
  }
}

body.terapie-individualni {
  nav a[href="#terapie-individualni"] {
    border: 1px solid black;
    opacity: 1;
  }
}
body.terapie-skupinova {
  nav a[href="#terapie-skupinova"] {
    border: 1px solid black;
    opacity: 1;
  }
}

body.kontakt {
  nav a[href="#kontakt"] {
    border: 1px solid rgb(24, 9, 9);
    opacity: 1;
  }
}
body.terapeut {
  nav a[href="#terapeut"] {
    border: 1px solid black;
    opacity: 1;
  }
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
