@import url( 'https://fonts.googleapis.com/css?family=Oxygen|Montserrat:900');
$color1: #7D7C84;
$color2: #2D93AD;
$color3: #88AB75;
$color4: #DBD56E;
$color5: #DE8F6E;
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	line-height: 2rem;
	background-color: $color4;
	color: rgba(black, 0.6);
}
h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}
b {
	font-family: 'Montserrat', sans-serif;
}
i {
	color: $color2;
}
main {
	margin: auto;
}
header {
	background-color: $color2;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-transform: uppercase;
	color: rgba($color2, 0.5);
	background-color: $color4;
	font-size: 2rem;
	line-height: normal;
	h1 {
		color: $color4;
		color: white;
		text-shadow: 6px 6px 1px rgba($color2, 0.5);
		font-size: 3rem;
		margin: 0;
	}
}
a {
	color: white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
article {
	position: relative;
	padding: 2rem;
	background: $color3;
	min-height: 100vh;
	h2 {
		color: white;
		text-shadow: 5px 5px 1px rgba($color2, 0.5);
	}
	& > section {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}
article,
header {
	border-bottom: 2px solid rgba($color2, 0.5);
}
article:nth-child(2) {
	background: $color5;
	min-height: 100vh;
}
footer {
	display: flex;
	& > section {
		max-width: 1000px;
		margin: auto;
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		& > section {
			white-space: nowrap;
		}
	}
	font-family: 'Montserrat', sans-serif;
	color: $color3;
	background-color: darken($color3, 50%);
	padding: 1rem;
}
