@import url( 'https://fonts.googleapis.com/css?family=Oxygen|Montserrat:900');
$color1: #7D7C84;
$color2: #2D93AD;
$color3: #88AB75;
$color4: #DBD56E;
$color5: #DE8F6E;
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	line-height: 2rem;
	scroll-behavior: smooth;
}




h1,
h2,
h3 {
	//font-family: 'Montserrat', sans-serif;
}
nav {
	text-align: right;
	position: sticky;
	top: 0.5rem;
	text-transform: uppercase;
	a {
		padding: 0.5rem;
		text-decoration: none;
		&:after {
			margin-left: 0.5rem;
			content: '|'
		}
	}
}

