@import url("https://fonts.googleapis.com/css?family=Oxygen|Montserrat:900");
input[type='checkbox'] {
  display: none; }

@media screen and (min-width: 700px) {
  .wrap-collabsible label {
    display: none; } }

@media screen and (max-width: 700px) {
  .wrap-collabsible {
    margin-bottom: 1.2rem 0; }
  .lbl-toggle {
    display: block;
    cursor: pointer;
    color: black; }
  .lbl-toggle:hover {
    color: #7C5A0B; }
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out; }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px); }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden; }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: none; }
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; } }

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: gray; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: black;
  transition: background-color 1s; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif; }

nav {
  display: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.7);
  flex-wrap: wrap;
  justify-content: flex-end; }
  nav a {
    text-decoration: none;
    white-space: nowrap;
    opacity: 0.5;
    border: 1px solid transparent;
    padding: 0 0.5rem; }
    nav a:hover {
      background-color: rgba(0, 0, 0, 0.2); }

*[title] {
  border-bottom: 1px dotted black;
  cursor: help; }
  *[title]:hover {
    color: black; }

.no-bullet {
  list-style-type: none;
  padding-left: 0; }

article p, article ul {
  margin-top: 1px;
  margin-bottom: 1px; }

article {
  line-height: 1.4rem;
  padding: 1rem;
  min-height: 20vh;
  margin-bottom: 2rem; }
  article:after {
    content: '';
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    display: block;
    background-size: contain;
    background-position: center bottom; }
  article#terapie-individualni h1 {
    color: #2d93ad !important; }
  article#terapie-individualni:after {
    background-image: url(svg/terapie-individualni.svg); }
  article#terapie-skupinova h1 {
    color: #2d93ad !important; }
  article#terapie-skupinova .bubble {
    display: none; }
  article#terapie-skupinova h1 {
    color: #88ab75 !important; }
  article#terapie-skupinova:after {
    background-image: url(svg/terapie-skupinova.svg); }
  article#ladilna h1 {
    color: #2d93ad !important; }
  article#ladilna:after {
    background-image: url(svg/ladilna.svg); }
  article#kontakt h1 {
    color: #e1c2c2 !important; }
  article#kontakt:after {
    background-image: url(svg/kontakt.svg); }
  article#pravidla h1 {
    color: #de8f6e !important; }
  article#pravidla:after {
    background-image: url(svg/pravidla.svg); }
  article#terapeut h1 {
    color: #dbd56e !important; }
  article#terapeut:after {
    background-image: url(svg/terapeut.svg); }

h1 {
  text-align: center;
  text-transform: uppercase; }

figure {
  margin: 0; }

#logo {
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100wv;
  background-position: center;
  margin: 1rem; }

@media screen and (min-width: 700px) {
  nav {
    display: flex;
    text-align: right;
    position: sticky;
    margin-top: -28px;
    flex-wrap: nowrap;
    top: 0rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    padding-left: 1rem;
    padding-right: 1rem; }
    nav a {
      padding: 0.25rem 0.5rem; }
  #logo {
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 200px;
    position: fixed;
    z-index: 1000;
    left: 1rem;
    top: 1rem; }
  nav {
    text-align: center;
    padding-left: 300px; }
  .bubble {
    display: block !important;
    position: absolute;
    opacity: 0;
    display: block;
    line-height: 1.4rem;
    top: 16rem;
    margin-left: -2rem;
    left: 50%;
    padding: 3.5rem;
    padding-bottom: 5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    transform-origin: left bottom;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: white;
    padding: 0.5rem;
    max-width: 200px;
    top: calc(50% - 50px);
    left: calc(50% - 200px / 2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none; }
    .bubble:nth-child(2) {
      transform: translate(-300px, 200px);
      animation: circle 30s 0s linear infinite; }
    .bubble:nth-child(3) {
      transform: translate(300px, 200px);
      animation: circle 30s 6s linear infinite; }
    .bubble:nth-child(4) {
      transform: translate(-300px, 200px);
      animation: circle 30s 12s linear infinite; }
    .bubble:nth-child(5) {
      transform: translate(300px, 200px);
      animation: circle 30s 18s linear infinite; }
    .bubble:nth-child(6) {
      transform: translate(-300px, 200px);
      animation: circle 30s 24s linear infinite; }
    .bubble:nth-child(7) {
      transform: translate(300px, 200px);
      animation: circle 30s 30s linear infinite; }
    .bubble:nth-child(8) {
      transform: translate(-300px, 200px);
      animation: circle 30s 36s linear infinite; }
    .bubble:nth-child(9) {
      transform: translate(300px, 200px);
      animation: circle 30s 42s linear infinite; }
    .bubble:nth-child(10) {
      transform: translate(-300px, 200px);
      animation: circle 30s 48s linear infinite; }
    .bubble:nth-child(11) {
      transform: translate(300px, 200px);
      animation: circle 30s 54s linear infinite; }
    .bubble:nth-child(12) {
      transform: translate(-300px, 200px);
      animation: circle 30s 60s linear infinite; }
    .bubble:nth-child(13) {
      transform: translate(300px, 200px);
      animation: circle 30s 66s linear infinite; }
    .bubble:nth-child(14) {
      transform: translate(-300px, 200px);
      animation: circle 30s 72s linear infinite; }
    .bubble:nth-child(15) {
      transform: translate(300px, 200px);
      animation: circle 30s 78s linear infinite; }
  article {
    position: relative;
    margin-left: 250px;
    margin-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    max-width: 1000px; }
    article h1 {
      font-size: 3rem;
      margin-bottom: 1rem; }
    article section {
      justify-content: center; }
    article:after {
      min-height: 300px;
      min-width: 300px; } }

body.pravidla nav a[href="#pravidla"] {
  border: 1px solid black;
  opacity: 1; }

body.ladilna nav a[href="#ladilna"] {
  border: 1px solid black;
  opacity: 1; }

body.terapie-individualni nav a[href="#terapie-individualni"] {
  border: 1px solid black;
  opacity: 1; }

body.terapie-skupinova nav a[href="#terapie-skupinova"] {
  border: 1px solid black;
  opacity: 1; }

body.kontakt nav a[href="#kontakt"] {
  border: 1px solid #180909;
  opacity: 1; }

body.terapeut nav a[href="#terapeut"] {
  border: 1px solid black;
  opacity: 1; }

@keyframes circle {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  18% {
    opacity: 1; }
  20% {
    opacity: 0; } }
